---
import { getEntryBySlug } from "astro:content";

const { faq, i } = Astro.props;
const { link, title } = faq;
---

<div class={`accordion-item ${i === 0 ? "shows" : ""}`}>
  <span>0{i + 1}</span>
  <h2 class="accordion-header" id={`heading${i}`} >
    <a class="header-content" href={link} target="_blank">{title}</a>
  </h2>
  <div
    id={`collapse${i}`}
    class={`accordion-collapse collapse ${i === 0 ? "show" : ""}`}
    aria-labelledby={`heading${i}`}
    data-bs-parent="#accordionExample"
  >
    <!-- Aquí puedes agregar contenido si es necesario -->
  </div>
</div>
