---
import PageHeader from "@/components/PageHeader.astro";
import Shape from "@/components/Shape.astro";
import CounterComponent from "@/components/about/CounterComponent.astro";
import Gallery from "@/components/about/Gallery.astro";
import OurMembers from "@/components/about/OurMembers.astro";
import Works from "@/components/about/Works.astro";
import Base from "@/layouts/Base.astro";
import { getEntryBySlug } from "astro:content";

const about = await getEntryBySlug("about", "index");
const { counter, gallery, features, members } = about.data;
const page_data = {
  ...about.data,
  content: about.body,
};
---

<Base
  title={about.data.title}
  meta_title={about.data.meta_title}
  description={about.data.description}
  image={about.data.image}
>
  <Shape />
  <section class="page-hero py-16">
    <div class="container">
      <div class="page-hero-content mx-auto max-w-[768px] text-center">
        <PageHeader page_data={page_data} />
      </div>
      <!-- <CounterComponent counter={counter} /> -->
      <!-- benifit -->
      <!-- gellary -->
      <!-- <Gallery gallery={gallery} /> -->
      <!-- our works -->
      <!-- <Works features={features} /> -->
      <!-- our members -->
      <!-- <OurMembers members={members} /> -->
      <div class="mt-8">
        <h3 class="mb-12">
          <p class="text-center ...">Contáctanos o acércate a nuestros puntos de atención</p>
        </h3>
        <div class="flex w-full justify-around">
          <div>
            <h6>
              Oficina Calle #37 13-30 (Piso 2) / Ibague – Tolima
            </h6>
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3977.780509951983!2d-75.24123458523859!3d4.451886396764924!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNMKwMjcnMDYuOCJOIDc1wrAxNCcyMC42Ilc!5e0!3m2!1ses!2sco!4v1601834615638!5m2!1ses!2sco"
              width="400"
              height="300"
              style="border:0;"
              allowfullscreen=""
              aria-hidden="false"
              class="rounded-lg shadow-lg mt-4"
              tabindex="0"></iframe>
          </div>
          <div>
            <br />
            <div class="mt-8 flex justify-around">
              <img src="images/about/whatsapp.png" alt="WhatsApp" style="width: 40px; height: 30px;">
            <h6>Whatsapp:
            <a href="https://wa.me/573164384290" target="_blank" class="whatsapp-link">
              +57 316 438 42 90
            </a>
            </h6>
            <br />
            </div>
            <div class="mt-8 flex justify-around">
              <img src="images/about/gmail.png" alt="Gmail" style="width: 40px; height: 25px;">
            <h6>Email:
            <a href="https://mail.google.com/mail/?view=cm&fs=1&to=1nitec.sas@gmail.com&su=Asunto&body=Mensaje" target="_blank">
              1nitec.sas@gmail.com
            </a>   
            </h6>       
            </div>
            
          </div>
  </section>
</Base>
