---
import PageHeader from "@/components/PageHeader.astro";
import Shape from "@/components/Shape.astro";
import CounterComponent from "@/components/about/CounterComponent.astro";
import Gallery from "@/components/about/Gallery.astro";
import OurMembers from "@/components/about/OurMembers.astro";
import Works from "@/components/about/Works.astro";
import Base from "@/layouts/Base.astro";
import { getEntryBySlug } from "astro:content";

const about = await getEntryBySlug("about", "index");
const { counter, gallery, features, members } = about.data;
const page_data = {
  ...about.data,
  content: about.body,
};
---

<Base
  title={about.data.title}
  meta_title={about.data.meta_title}
  description={about.data.description}
  image={about.data.image}
>
  <Shape />
  <section class="page-hero py-16">
    <div class="container">
      <div class="page-hero-content mx-auto max-w-[768px] text-center">
        <PageHeader page_data={page_data} />
      </div>
      <!-- <CounterComponent counter={counter} /> -->
      <!-- benifit -->
      <!-- gellary -->
      <!-- <Gallery gallery={gallery} /> -->
      <!-- our works -->
      <!-- <Works features={features} /> -->
      <!-- our members -->
      <!-- <OurMembers members={members} /> -->
      <div class="mt-8">
        <h3 class="mb-12">
          Contáctanos o acércate a nuestros puntos de atención
        </h3>
        <div class="flex w-full justify-around">
          <div>
            <h6>
              Oficina Callle 9B No. 12A – 03 / 20 de Julio Ibague – Tolima
            </h6>
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3977.780509951983!2d-75.24123458523859!3d4.451886396764924!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNMKwMjcnMDYuOCJOIDc1wrAxNCcyMC42Ilc!5e0!3m2!1ses!2sco!4v1601834615638!5m2!1ses!2sco"
              width="400"
              height="300"
              style="border:0;"
              allowfullscreen=""
              aria-hidden="false"
              class="rounded-lg shadow-lg mt-4"
              tabindex="0"></iframe>
          </div>
          <div>
            <h6>Calle 87 No. 3B-15 Jardín Atolsure Ibague – Tolima</h6>
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3977.851921677427!2d-75.18566208523876!3d4.438655196774454!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNMKwMjYnMTkuMiJOIDc1wrAxMScwMC41Ilc!5e0!3m2!1ses!2sco!4v1601836909113!5m2!1ses!2sco"
              width="400"
              height="300"
              style="border:0;"
              allowfullscreen=""
              aria-hidden="false"
              class="rounded-lg shadow-lg mt-4"
              tabindex="0"></iframe>
          </div>
        </div>
        <br />
        <h6>Celular: 3164384290 - 3168616426</h6>
        <br />
        <h6>Email:1nitec.sas@gmail.com</h6>
      </div>
    </div>
  </section>
</Base>
