---
import PageHeader from "@/components/PageHeader.astro";
import Shape from "@/components/Shape.astro";
import Base from "@/layouts/Base.astro";
import Faq from "@/layouts/function-components/Faq.jsx";
import PricingCard from "@/layouts/function-components/PricingCard.jsx";
import { getEntryBySlug } from "astro:content";

const urbano = await getEntryBySlug("urbano", "index");
const page_data = {
  ...urbano.data,
  content: urbano.body,
};
---

<Base
  title={urbano.data.title}
  meta_title={urbano.data.meta_title}
  description={urbano.data.description}
  image={urbano.data.image}
>
  <!-- <Shape /> -->
  <section class="page-hero pb-14 pt-16">
    <div class="container">
      <!-- <PageHeader page_data={page_data} /> -->
       <h2>Planes de Internet</h2>
       <p>Elige el plan más adecuado para tu hogar o negocio, internet ilimitado, no tiene cláusula de permanencia.
        Si necesitas un plan superior puedes comunicarte con nosotros</p>
    </div>

  </section>
  <!-- urbano -->
  <section class="section mt-12 pt-0">
    
    <div class="container">
      
      <div class="row lg:px-10">
        {
          urbano.data.pricing_card.map((item: any, i: number) => (
            <PricingCard item={item} client:load />
          ))
        }
      </div>
    </div>
  </section>

  
  <Faq client:load data={urbano.data} />
</Base>
